<a href="https://colab.research.google.com/github/davidest1995/Data-Science/blob/main/Manejo_librer%C3%ADa_pandas_datacodes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

psg_players = pd.Series(['Navas','Mbappe','Neymar','Messi'],
          index=[1,7,10,30])

# Para entrar a cualquier dato refinido en la serie, se entra por el index: psg_players[1] puede ser 1,7,10,30

dict={1:'Navas', 7:'Mbappe', 10: 'Neymar', 30 : 'Messi'}

pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [2]:
# Para crear tablas de más de una comulna, se utiliza DataFrame, como se ve a continuación.
info_players = {'Jugador' : ['Navas','Mbappe','Neymar','Messi'],
 'Altura':[1.80,1.90,1.78,1.80],
 'Edad':[26,24,28,32]}

data_players = pd.DataFrame(info_players,index=[1,7,10,30])

# data_players.columns[1]
data_players.index

Int64Index([1, 7, 10, 30], dtype='int64')

In [ ]:
# IMPORTANTE!!! COMANDOS PARA LA IMPORTACIÓN DE DATOS
import pandas as pd
import numpy as np

x= pd.read_csv('/content/bestsellers-categories.csv', sep=',', header=0, names=['Name', 'Author', 'Rating', 'Reviews', 'Price', 'Year', 'Genre'],)

pd.read_json('/content/hpcharacteresdataraw.json')

y = pd.read_csv('/content/Amazon books best sellers.csv', header=0, names= ['Name', 'Author', 'Rating', 'Reviews', 'Price', 'Year', 'Genre'])

y.loc[:10,['Rating','Price', 'Reviews', 'Year']]

In [ ]:
import pandas as pd
import numpy as np

x = pd.read_csv('/content/Copacabana_-_Accidentes_por_lugar_y_tipo.csv')

# x.isnull()*1
# x.fillna('Missing')
# x.fillna(x.mean())
# x.fillna(x.average())
# x.interpolate()
# x.dropna()--------------Manejo de valores nulos

# mayor_2018 = x['AÑO'] > 2018
# total_mayor_10 = x['TOTAL'] > 10
# muertos_mayor_0 = x['MUERTOS'] != 0
# x[mayor_2018 & total_mayor_10 & muertos_mayor_0]-----Filtrando datos

# x.info()                              Info del dataframe
# x.describe()                          Info sobre la tabla
# x.head(10)                            Entrega los 10 primeros registros del set de datos
# x.tail(2)                             Entrega los 10 últimos registos del set de datos
# x.memory_usage(deep=True)             Muestra la memoria que se gastan las tablas
# x['AÑO'].value_counts()               Cuenta numero de datos en una variable
# x.drop_duplicates(keep='last')        Elimina los datos duplicados
# x.sort_values('AÑO',ascending=False)  ordena los datos de mayor a menor

# x.groupby('TOTAL').count()            filtra datos en común entre columnas

# x.groupby('AÑO').agg(['min','max'])    Filtra por minimo o maximo por año los datos en comun de las columnas

# x.groupby('AÑO').agg({'MUERTOS': ['min','max','mean'], 'HERIDOS': ['min','max','mean'], 'TOTAL':['mean']})

,LUGAR,DISEÑO VIA,DAÑOS,HERIDOS,MUERTOS,TOTAL,AÑO
0,Autopista MEDELLIN-BOGOTA con Kilometro 0,Tramo de via,1,2,0,3,2016
1,Autopista MEDELLIN-BOGOTA con Kilometro 10,Tramo de via,0,1,1,2,2016
2,Autopista MEDELLIN-BOGOTA con Kilometro 12,Tramo de via,1,0,0,1,2016
3,Autopista MEDELLIN-BOGOTA con Kilometro 13,Tramo de via,1,0,0,1,2016
4,Autopista MEDELLIN-BOGOTA con Kilometro 14,Tramo de via,1,1,0,2,2016
...,...,...,...,...,...,...,...
2654,Calle 70 Norte con Carrera 38,Tramo de via,1,0,0,1,2013
2655,Calle 81 Norte con Carrera 43,Tramo de via,0,1,0,1,2013
2656,Calle 84 Norte con Carrera 84,Tramo de via,1,0,0,1,2013
2657,Diagonal 4 con Tramo SIN DEFINIR,Tramo de via,1,0,0,1,2013
2658,Tramo SIN DEFINIR con Transversal 7,Tramo de via,1,0,0,1,2013

In [ ]:
import pandas as pd
import numpy as np

df_1 = pd.DataFrame({'A':['A0','A1','A2','A3'],
 'B':['B0','B1','B2','B3'],
 'C':['C0','C1','C2','C3'],
 'D':['D0','D1','D2','D3']})

df_2 = pd.DataFrame({'A':['A4','A5','A6','A7'],
 'B':['B4','B5','B6','B7'],
 'C':['C4','C5','C6','C7'],
 'D':['D4','D5','D6','D7']})

# pd.concat([df_1,df_2], ignore_index = True)
pd.concat([df_1,df_2], axis=1)

In [ ]:
izq = pd.DataFrame({'key_1': ['k0','k1','k2','k3'],
 'A': ['A0','A1','A2','A3'],
 'B': ['B0','B1','B2','B3']
 })
der = pd.DataFrame({'key_2': ['k0','k1','k2','k3'],
 'C': ['C0','C1','C2','C3'],
 'D': ['D0','D1','D2','D3']
 })

pd.merge(izq,der, left_on='key_1', right_on='key_2')

  key_1   A   B key_2   C   D
0    k0  A0  B0    k0  C0  D0
1    k1  A1  B1    k1  C1  D1
2    k2  A2  B2    k2  C2  D2
3    k3  A3  B3    k3  C3  D3

In [ ]:
izq = pd.DataFrame({'key': ['k0','k1','k2','k3'],
 'A': ['A0','A1','A2','A3'],
 'B': ['B0','B1','B2','B3']
 })

der = pd.DataFrame({'key': ['k0','k1','k2',np.nan],
 'C': ['C0','C1','C2','C3'],
 'D': ['D0','D1','D2','D3']
 })

pd.merge(izq,der,how='left')

  key   A   B    C    D
0  k0  A0  B0   C0   D0
1  k1  A1  B1   C1   D1
2  k2  A2  B2   C2   D2
3  k3  A3  B3  NaN  NaN

In [ ]:
# JOIN INDEX MATCH

izq = pd.DataFrame({'A':['A0','A1','A2'],
                    'B':['B0','B1','B2']},
                    index=['K0','K1','K2'])

der = pd.DataFrame({'C':['C0','C1','C2'],
                    'D':['D0','D1','D2']},
                    index=['K0','K2','K3'])
#  el how puede ser 'left', 'right','outer', 'inner'
izq.join(der,how='inner')

     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C1  D1

In [ ]:
# APLICANDO FUNCIONES AL DATAFRAME

import pandas as pd

x = pd.read_csv('/content/Copacabana_-_Accidentes_por_lugar_y_tipo.csv')

def two_times(value):
  return value * 2

# x['DAÑOS_2']=x['DAÑOS'].apply(two_times)
x['TOTAL_2'] = x['TOTAL'].apply(lambda x : x**2)

# x['TOTAL_2'] = x.apply(lambda x: x['TOTAL'] ** 2 if x['MUERTOS'] != 0 else x['TOTAL'], axis=1)
# x.head(30)